.home {
	padding: 56px 20px;
	min-height: 100%;
	width: 100%;
}

.buttongroup {
	clear: both;
	display: inline-block;
}
  
.button_input {
	position: absolute;
	left: -9999em;
	top: -9999em;
}

.button_input + .button_label {
	float: left;
	padding: .5em 1em;
	cursor: pointer;
	border: 1px solid #28608f;
	margin-right: -1px;
	color: #fff;
	background-color: #428bca;
}	  
.button_input + .button_label:first-of-type {
	border-radius: .7em 0 0 .7em;
}
.button_input + .button_label:last-of-type {
	border-radius: 0 .7em .7em 0;
}
.button_input:checked + .button_label {
	background-color: #3277b3;
}